In [1]:
pip install mysql_connector

Requirement already satisfied: mysql_connector in /opt/conda/lib/python3.8/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.20.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [4]:
source = create_engine('mysql+mysqlconnector://test:test123@workdbtest3/test')

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('time_series_covid19_confirmed_global.csv', encoding='utf-8')
df

#funciona sin el dtype

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,46837,47072,47306,47516,47716,47851,48053,48116,48229,48527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,41302,42148,42988,43683,44436,45188,46061,46863,47742,48530
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,86730,87502,88252,88825,89416,90014,90579,91121,91638,92102
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,6955,7005,7050,7084,7127,7162,7190,7236,7288,7338
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,15493,15536,15591,15648,15729,15804,15925,16061,16161,16188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1361,1365,1366,1367,1377,1381,1385,1391,1395,1397
267,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,94676,96098,98038,99758,101109,102992,104879,106622,108099,109738
268,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2267,2304,2337,2383,2078,2079,2081,2082,2083,2083
269,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17857,17898,17916,17931,17963,18062,18091,18161,18217,18274
270,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,10547,10617,10718,10839,10912,11007,11081,11162,11219,11246

In [8]:
df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
12/9/20             int64
12/10/20            int64
12/11/20            int64
12/12/20            int64
12/13/20            int64
Length: 331, dtype: object

In [25]:
col_list=["Province/State","Country/Region"]
df1 = pd.read_csv('time_series_covid19_confirmed_global.csv', usecols=col_list)
print(df1[col_list])

    Province/State      Country/Region
0              NaN         Afghanistan
1              NaN             Albania
2              NaN             Algeria
3              NaN             Andorra
4              NaN              Angola
..             ...                 ...
266            NaN             Vietnam
267            NaN  West Bank and Gaza
268            NaN               Yemen
269            NaN              Zambia
270            NaN            Zimbabwe

[271 rows x 2 columns]

In [27]:
df2 = pd.read_csv('time_series_covid19_confirmed_global.csv')
df2[df2.columns[4:]].sum()

1/22/20          555
1/23/20          654
1/24/20          941
1/25/20         1434
1/26/20         2118
              ...
12/9/20     68894596
12/10/20    70385355
12/11/20    71081574
12/12/20    71704885
12/13/20    72252541
Length: 327, dtype: int64

In [36]:
print(df1[col_list],df2[df2.columns[4:]].sum())

    Province/State      Country/Region
0              NaN         Afghanistan
1              NaN             Albania
2              NaN             Algeria
3              NaN             Andorra
4              NaN              Angola
..             ...                 ...
266            NaN             Vietnam
267            NaN  West Bank and Gaza
268            NaN               Yemen
269            NaN              Zambia
270            NaN            Zimbabwe

[271 rows x 2 columns] 1/22/20          555
1/23/20          654
1/24/20          941
1/25/20         1434
1/26/20         2118
              ...
12/9/20     68894596
12/10/20    70385355
12/11/20    71081574
12/12/20    71704885
12/13/20    72252541
Length: 327, dtype: int64

In [13]:
#dropdown table

print(pd.io.sql.get_schema(df.reset_index(), 'test.covid19', con=source))

CREATE TABLE `test.covid19_global` (
	`index` BIGINT,
	`Province/State` TEXT,
	`Country/Region` TEXT,
	`Lat` FLOAT(53),
	`Long` FLOAT(53),
	`1/22/20` BIGINT,
	`1/23/20` BIGINT,
	`1/24/20` BIGINT,
	`1/25/20` BIGINT,
	`1/26/20` BIGINT,
	`1/27/20` BIGINT,
	`1/28/20` BIGINT,
	`1/29/20` BIGINT,
	`1/30/20` BIGINT,
	`1/31/20` BIGINT,
	`2/1/20` BIGINT,
	`2/2/20` BIGINT,
	`2/3/20` BIGINT,
	`2/4/20` BIGINT,
	`2/5/20` BIGINT,
	`2/6/20` BIGINT,
	`2/7/20` BIGINT,
	`2/8/20` BIGINT,
	`2/9/20` BIGINT,
	`2/10/20` BIGINT,
	`2/11/20` BIGINT,
	`2/12/20` BIGINT,
	`2/13/20` BIGINT,
	`2/14/20` BIGINT,
	`2/15/20` BIGINT,
	`2/16/20` BIGINT,
	`2/17/20` BIGINT,
	`2/18/20` BIGINT,
	`2/19/20` BIGINT,
	`2/20/20` BIGINT,
	`2/21/20` BIGINT,
	`2/22/20` BIGINT,
	`2/23/20` BIGINT,
	`2/24/20` BIGINT,
	`2/25/20` BIGINT,
	`2/26/20` BIGINT,
	`2/27/20` BIGINT,
	`2/28/20` BIGINT,
	`2/29/20` BIGINT,
	`3/1/20` BIGINT,
	`3/2/20` BIGINT,
	`3/3/20` BIGINT,
	`3/4/20` BIGINT,
	`3/5/20` BIGINT,
	`3/6/20` BIGINT,
	`3/7/20` BIGINT,
	`3/8/20` BIGINT,
	`3/9/20` BIGINT,
	`3/10/20` BIGINT,
	`3/11/20` BIGINT,
	`3/12/20` BIGINT,
	`3/13/20` BIGINT,
	`3/14/20` BIGINT,
	`3/15/20` BIGINT,
	`3/16/20` BIGINT,
	`3/17/20` BIGINT,
	`3/18/20` BIGINT,
	`3/19/20` BIGINT,
	`3/20/20` BIGINT,
	`3/21/20` BIGINT,
	`3/22/20` BIGINT,
	`3/23/20` BIGINT,
	`3/24/20` BIGINT,
	`3/25/20` BIGINT,
	`3/26/20` BIGINT,
	`3/27/20` BIGINT,
	`3/28/20` BIGINT,
	`3/29/20` BIGINT,
	`3/30/20` BIGINT,
	`3/31/20` BIGINT,
	`4/1/20` BIGINT,
	`4/2/20` BIGINT,
	`4/3/20` BIGINT,
	`4/4/20` BIGINT,
	`4/5/20` BIGINT,
	`4/6/20` BIGINT,
	`4/7/20` BIGINT,
	`4/8/20` BIGINT,
	`4/9/20` BIGINT,
	`4/10/20` BIGINT,
	`4/11/20` BIGINT,
	`4/12/20` BIGINT,
	`4/13/20` BIGINT,
	`4/14/20` BIGINT,
	`4/15/20` BIGINT,
	`4/16/20` BIGINT,
	`4/17/20` BIGINT,
	`4/18/20` BIGINT,
	`4/19/20` BIGINT,
	`4/20/20` BIGINT,
	`4/21/20` BIGINT,
	`4/22/20` BIGINT,
	`4/23/20` BIGINT,
	`4/24/20` BIGINT,
	`4/25/20` BIGINT,
	`4/26/20` BIGINT,
	`4/27/20` BIGINT,
	`4/28/20` BIGINT,
	`4/29/20` BIGINT,
	`4/30/20` BIGINT,
	`5/1/20` BIGINT,
	`5/2/20` BIGINT,
	`5/3/20` BIGINT,
	`5/4/20` BIGINT,
	`5/5/20` BIGINT,
	`5/6/20` BIGINT,
	`5/7/20` BIGINT,
	`5/8/20` BIGINT,
	`5/9/20` BIGINT,
	`5/10/20` BIGINT,
	`5/11/20` BIGINT,
	`5/12/20` BIGINT,
	`5/13/20` BIGINT,
	`5/14/20` BIGINT,
	`5/15/20` BIGINT,
	`5/16/20` BIGINT,
	`5/17/20` BIGINT,
	`5/18/20` BIGINT,
	`5/19/20` BIGINT,
	`5/20/20` BIGINT,
	`5/21/20` BIGINT,
	`5/22/20` BIGINT,
	`5/23/20` BIGINT,
	`5/24/20` BIGINT,
	`5/25/20` BIGINT,
	`5/26/20` BIGINT,
	`5/27/20` BIGINT,
	`5/28/20` BIGINT,
	`5/29/20` BIGINT,
	`5/30/20` BIGINT,
	`5/31/20` BIGINT,
	`6/1/20` BIGINT,
	`6/2/20` BIGINT,
	`6/3/20` BIGINT,
	`6/4/20` BIGINT,
	`6/5/20` BIGINT,
	`6/6/20` BIGINT,
	`6/7/20` BIGINT,
	`6/8/20` BIGINT,
	`6/9/20` BIGINT,
	`6/10/20` BIGINT,
	`6/11/20` BIGINT,
	`6/12/20` BIGINT,
	`6/13/20` BIGINT,
	`6/14/20` BIGINT,
	`6/15/20` BIGINT,
	`6/16/20` BIGINT,
	`6/17/20` BIGINT,
	`6/18/20` BIGINT,
	`6/19/20` BIGINT,
	`6/20/20` BIGINT,
	`6/21/20` BIGINT,
	`6/22/20` BIGINT,
	`6/23/20` BIGINT,
	`6/24/20` BIGINT,
	`6/25/20` BIGINT,
	`6/26/20` BIGINT,
	`6/27/20` BIGINT,
	`6/28/20` BIGINT,
	`6/29/20` BIGINT,
	`6/30/20` BIGINT,
	`7/1/20` BIGINT,
	`7/2/20` BIGINT,
	`7/3/20` BIGINT,
	`7/4/20` BIGINT,
	`7/5/20` BIGINT,
	`7/6/20` BIGINT,
	`7/7/20` BIGINT,
	`7/8/20` BIGINT,
	`7/9/20` BIGINT,
	`7/10/20` BIGINT,
	`7/11/20` BIGINT,
	`7/12/20` BIGINT,
	`7/13/20` BIGINT,
	`7/14/20` BIGINT,
	`7/15/20` BIGINT,
	`7/16/20` BIGINT,
	`7/17/20` BIGINT,
	`7/18/20` BIGINT,
	`7/19/20` BIGINT,
	`7/20/20` BIGINT,
	`7/21/20` BIGINT,
	`7/22/20` BIGINT,
	`7/23/20` BIGINT,
	`7/24/20` BIGINT,
	`7/25/20` BIGINT,
	`7/26/20` BIGINT,
	`7/27/20` BIGINT,
	`7/28/20` BIGINT,
	`7/29/20` BIGINT,
	`7/30/20` BIGINT,
	`7/31/20` BIGINT,
	`8/1/20` BIGINT,
	`8/2/20` BIGINT,
	`8/3/20` BIGINT,
	`8/4/20` BIGINT,
	`8/5/20` BIGINT,
	`8/6/20` BIGINT,
	`8/7/20` BIGINT,
	`8/8/20` BIGINT,
	`8/9/20` BIGINT,
	`8/10/20` BIGINT,
	`8/11/20` BIGINT,
	`8/12/20` BIGINT,
	`8/13/20` BIGINT,
	`8/14/20` BIGINT,
	`8/15/20` BIGINT,
	`8/16/20` BIGINT,
	`8/17/20` BIGINT,
	`8/18/20` BIGINT,
	`8/19/20` BIGINT,
	`8/20/20` BIGINT,
	`8/21/20` BIGINT,
	`8/22/20` BIGINT,
	`8/23/20` BIGINT,
	`8/24/20` BIGINT,
	`8/25/20` BIGINT,
	`8/26/20` BIGINT,
	`8/27/20` BIGINT,
	`8/28/20` BIGINT,
	`8/29/20` BIGINT,
	`8/30/20` BIGINT,
	`8/31/20` BIGINT,
	`9/1/20` BIGINT,
	`9/2/20` BIGINT,
	`9/3/20` BIGINT,
	`9/4/20` BIGINT,
	`9/5/20` BIGINT,
	`9/6/20` BIGINT,
	`9/7/20` BIGINT,
	`9/8/20` BIGINT,
	`9/9/20` BIGINT,
	`9/10/20` BIGINT,
	`9/11/20` BIGINT,
	`9/12/20` BIGINT,
	`9/13/20` BIGINT,
	`9/14/20` BIGINT,
	`9/15/20` BIGINT,
	`9/16/20` BIGINT,
	`9/17/20` BIGINT,
	`9/18/20` BIGINT,
	`9/19/20` BIGINT,
	`9/20/20` BIGINT,
	`9/21/20` BIGINT,
	`9/22/20` BIGINT,
	`9/23/20` BIGINT,
	`9/24/20` BIGINT,
	`9/25/20` BIGINT,
	`9/26/20` BIGINT,
	`9/27/20` BIGINT,
	`9/28/20` BIGINT,
	`9/29/20` BIGINT,
	`9/30/20` BIGINT,
	`10/1/20` BIGINT,
	`10/2/20` BIGINT,
	`10/3/20` BIGINT,
	`10/4/20` BIGINT,
	`10/5/20` BIGINT,
	`10/6/20` BIGINT,
	`10/7/20` BIGINT,
	`10/8/20` BIGINT,
	`10/9/20` BIGINT,
	`10/10/20` BIGINT,
	`10/11/20` BIGINT,
	`10/12/20` BIGINT,
	`10/13/20` BIGINT,
	`10/14/20` BIGINT,
	`10/15/20` BIGINT,
	`10/16/20` BIGINT,
	`10/17/20` BIGINT,
	`10/18/20` BIGINT,
	`10/19/20` BIGINT,
	`10/20/20` BIGINT,
	`10/21/20` BIGINT,
	`10/22/20` BIGINT,
	`10/23/20` BIGINT,
	`10/24/20` BIGINT,
	`10/25/20` BIGINT,
	`10/26/20` BIGINT,
	`10/27/20` BIGINT,
	`10/28/20` BIGINT,
	`10/29/20` BIGINT,
	`10/30/20` BIGINT,
	`10/31/20` BIGINT,
	`11/1/20` BIGINT,
	`11/2/20` BIGINT,
	`11/3/20` BIGINT,
	`11/4/20` BIGINT,
	`11/5/20` BIGINT,
	`11/6/20` BIGINT,
	`11/7/20` BIGINT,
	`11/8/20` BIGINT,
	`11/9/20` BIGINT,
	`11/10/20` BIGINT,
	`11/11/20` BIGINT,
	`11/12/20` BIGINT,
	`11/13/20` BIGINT,
	`11/14/20` BIGINT,
	`11/15/20` BIGINT,
	`11/16/20` BIGINT,
	`11/17/20` BIGINT,
	`11/18/20` BIGINT,
	`11/19/20` BIGINT,
	`11/20/20` BIGINT,
	`11/21/20` BIGINT,
	`11/22/20` BIGINT,
	`11/23/20` BIGINT,
	`11/24/20` BIGINT,
	`11/25/20` BIGINT,
	`11/26/20` BIGINT,
	`11/27/20` BIGINT,
	`11/28/20` BIGINT,
	`11/29/20` BIGINT,
	`11/30/20` BIGINT,
	`12/1/20` BIGINT,
	`12/2/20` BIGINT,
	`12/3/20` BIGINT,
	`12/4/20` BIGINT,
	`12/5/20` BIGINT,
	`12/6/20` BIGINT,
	`12/7/20` BIGINT,
	`12/8/20` BIGINT,
	`12/9/20` BIGINT,
	`12/10/20` BIGINT,
	`12/11/20` BIGINT,
	`12/12/20` BIGINT,
	`12/13/20` BIGINT
)

In [ ]:
with source.begin() as transaction:
    df_t.to_sql('covid19', con=transaction, schema='test', if_exists='append', index=False)